<div class="col-md-6">
  <h2>Find a new adventure</h2>
  <%= form_tag("trips/results", method: "post") do %>
    <%= label_tag("Park Name") %>
    <%= text_field_tag(:pname) %>
    <%= submit_tag("Search", :class => "btn btn-primary") %>
  <% end %>
</div>

<div class="col-md-6">
  <h2>See Upcoming Trips</h2>
  <button data-user="<%= current_user.id %>" class="upcoming-trips btn btn-primary">See Upcoming Trips</button>
    <table class="table table-striped">
      <tr id="headers">
        <th id="trip-name-head"></th>
        <th id="start-date-head"></th>
        <th id="end-date-head"></th>
      </tr>
        <tr id="table-data">
        </tr>
    </table>
</div>

<div class="col-md-6">
  <button class="all-trips btn btn-primary" data-user="<%= current_user.id %>">Preview all trips</button>
  <ol class="trip-list">
  </ol>
</div>
