<div class="col-md-6">
  <h2>Find a new adventure</h2>
  <%= form_tag("trips/results", method: "post") do %>
    <%= label_tag("Park Name") %>
    <%= text_field_tag(:pname) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="col-md-6">
  <h2>See Upcoming Trips</h2>
    <table class="table table-striped">
      <tr>
        <th>Trip Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <% Trip.upcoming.each do |trip| %>
        <tr>
          <td><%= trip.name %></td>
          <td><%= trip.start_date_formatter %></td>
          <td><%= trip.end_date_formatter %></td>
        </tr>
      <% end %>
    </table>
</div>
